

.rhombusNode {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    background-color: #a600ff;
    top: 10px;
    right: auto;
    width: 50px;
    height: 50px;
    border: 1px solid;
    z-index: -1;
}
.handles-container-decision {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 70px;
    width: 50px;
}

