.parallelogram {
    width: 100px;
    height: 50px;
    transform: skew(20deg);
    background: #555;
}
.handles-container {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 50px;
    width: 100%;
}
